# **** TASK MASTER CONFIGURATION ****
# ANTHROPIC_API_KEY is required. (If not already persistent in your environment.)
ANTHROPIC_API_KEY='sk-ant-ollama-12345'
#   - FOR OLLAMA: Set ANTHROPIC_API_KEY to any value. It will not be used, but must be present to satisfy claude's login check. 

# FOR OLLAMA: override ClaudeCode's base URL and provide a dummy auth token to point to your Ollama instance
ANTHROPIC_BASE_URL='http://localhost:11434'
ANTHROPIC_AUTH_TOKEN='ollama'

# FOR OLLAMA: Also set model in ai-task-master.config.yml to the name of your local model as listed in `ollama list`